[Desktop Entry]
Encoding=UTF-8
Name=Simple alarm and timer
Name[ru]=Простой будильник и таймер
Comment=Allows to quickly set alarms or timers
Comment[ru]=Позволяет быстро устанавливать будильники и таймеры

Type=Service
Icon=chronometer
ServiceTypes=Plasma/Runner,Plasma/PopupApplet

X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Name=alarmtimer
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Author=Konstantin Enchant
X-KDE-PluginInfo-Email=sirkonst@gmail.com
X-KDE-PluginInfo-Website=https://github.com/sirkonst/krunner-timer
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Depends=